.about__content {
  margin-left: 8.5rem;
  color: white;
  font-style: normal;
  display: flex;
}

.about__text {
  padding: 0 6rem 0 0;
  margin-top: 2.5rem;
  font-size: 1.6rem;
}

@media (max-width: 785px) {
  .about__content {
    margin-left: 1rem;
  }
}

@media (max-width: 550px) {
  .about__content {
    margin-left: 0;
  }
  .about__text {
    padding: 0;
  }
}
