.skills__imgs {
  margin-top: 4.5rem;
  height: 7rem;
  width: 7rem;
  margin-left: auto;
  &:first-child {
    margin-left: 0;
  }
}

.skills__wraper {
  max-width: 60rem;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
