* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  letter-spacing: 1px;
}

ul {
  list-style: none;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: #08fdd8;
}

.content {
  background: #444;
  min-height: 100vh;
  display: flex;
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 785px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}
